:root {
  --blue: #2196f3;
  --grey: #757575;
  --white: #fff;
  --black: #000;
  --dark-bg: #2f303a;
  --light-bg: #f5f4fa;
  --font-color: #212121;
  --portfolio-line: #ececec;
  --card-border: #eeeeee;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --header-border: #ececec;
  --default-gap: 30px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 500;
  color: var(--font-color);
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*header*/

.header-border {
  border-bottom: solid 1px var(--header-border);
}

.top-header {
  display: flex;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;

  color: var(--black);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.main-info {
  display: flex;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.blue-text {
  color: var(--blue);
}

.links {
  display: flex;
  margin: 0;
  padding: 0;
}

.link-item {
  display: block;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
}

.nav-link:hover {
  color: var(--blue);
}

.contact-us {
  display: flex;
  margin-left: auto;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contact {
  display: block;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--grey);
}

.top-bar {
  background-color: var(--dark-bg);
}

.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin: 0;
  margin-top: 200px;
  text-align: center;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  color: var(--white);
}

.primary-button {
  margin: auto;
  margin-top: var(--default-gap);
  margin-bottom: 200px;
  padding: 15px 32px 15px 32px;
  background-color: var(--blue);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  color: var(--white);
}

.primary-button:hover {
  cursor: pointer;
}

/* Main part*/

.features-list,
.service-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.features-element {
  text-align: left;
  flex-basis: calc(100% / 4 - 50px);
}

.feature-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.feature-description {
  margin: 0;
  margin-top: 10px;
  color: var(--grey);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}

/* Service */

.service {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 67px;
}

.service-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.service-element {
  flex-basis: calc(100% / 3 - var(--default-gap));
}

/* Team */

.team {
  background-color: var(--light-bg);
}

.team-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.team-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.team-title {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
}

.team-item {
  text-align: center;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 1px 2px 1px var(--grey);
}

.teammate-name {
  font-size: 16px;
  font-weight: 500;
  margin-top: var(--default-gap);
  margin-bottom: 0px;
}

.teammate-position {
  margin-top: 10px;
  margin-bottom: var(--default-gap);
  font-size: 16px;
  color: var(--grey);
}

/* Footer */

.page-footer {
  background-color: var(--dark-bg);
}

.footer-content {
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.footer-logo {
  margin-top: 60px;
  float: left;
  color: var(--white);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.blue-text {
  color: var(--blue);
}

.footer-contacts {
  font-style: normal;
  font-family: inherit;
  margin-top: 20px;
  margin-bottom: 60px;
}

.foter-contact-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-address-item {
  color: var(--white);
  font-size: 14px;
  font-weight: inherit;
}

.footer-contact-item {
  margin-top: 10px;
  color: var(--footer-contacts);
  font-size: 14px;
}

/* Portfolio */

.portfolio-buttons {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.portfolio-button-item {
  display: inline;
  margin-right: 8px;
}

.secondary-button {
  display: inline;
  border-radius: 4px;
  border: none;
  padding: 10px 22px;
  background-color: var(--light-bg);
  font-family: inherit;
  font-weight: 500px;
  font-size: 16px;
}

.secondary-button:hover {
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
}

.portfolio-button:hover {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.projects-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.projects-card {
  flex-basis: calc(100% / 3 - var(--default-gap));
  margin-right: var(--default-gap);
  margin-bottom: var(--default-gap);
  display: flex;
  flex-direction: column;
}

.projects-card-info {
  padding-top: 30px;
  box-sizing: border-box;
  border: 1px solid var(--card-border);
  border-top: 0;
}

.projects-item-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-left: 25px;
  margin-bottom: 25px;
}

.projects-item-description {
  font-size: 16px;
  font-weight: 400;
  color: var(--grey);
  margin: 0;
  padding: 0;
  padding-left: 24px;
  margin-bottom: var(--default-gap);
}

.last {
  margin-right: 0px;
}
